.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Global Section Styles */
.section-container {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  /* Glass effect */
  backdrop-filter: blur(15px);
  /* Frosted-glass blur */
  -webkit-backdrop-filter: blur(15px);
  /* Safari support */
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  /* Subtle border */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /* Soft shadow */
  color: white;
  /* Ensure text is readable */
  max-width: 95%;
  margin: 40px auto 0;
  overflow: hidden;
}

/* Back Button */
.back-button {
  margin-bottom: 1rem;
}

/* Title Styling */
.section-title {
  margin-bottom: 1rem;
  text-align: center;
}

/* Form Row */
.row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

/* Form Field */
.field {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-width: 220px;
}

/* Submit Button */
.submit-button {
  margin-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background: radial-gradient(circle at center, #113e27, #1b4e31, #113e27); */
  height: 100vh;
  background: linear-gradient(120deg, #1D976C, #2c3e50);
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  border-bottom: 100px solid white;
}

.navbar a:hover {
  text-decoration: underline;
}


/* Register and login card */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Align items to the top */
  height: 100vh;
  padding-top: 90px;
  /* Move the card up */
}

.card {
  width: 400px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(35px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 30px 30px 30px 30px;
  overflow: hidden;
  text-align: center;

}

/* background: radial-gradient(circle at bottom, #1b4e31, #255c3c, #15442d); */

/* .card {
  padding: 2.5rem;
  border-radius: 12px;
  width: 400px;
  background: linear-gradient(120deg, #1D976C, #2c3e50);
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: block;
} */


.title {
  font-size: 1.75rem;
  /* Slightly larger title */
  font-weight: bold;
  color: #c8d8c5;
  margin-bottom: 1.5rem;
  /* Increase margin for better spacing */
}


.btn {
  justify-content: center;
  width: auto;
  padding: 12px;
  /* Slightly larger button */
  background-color: #15442d;
  color: #f7fef1;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  /* Ensure text is readable */
  transition: background-color 0.3s ease;
  /* Smooth hover effect */
  font-Weight: 600;
  transition: "background-color 0.3s ease";

}

.btn:hover {
  background-color: #fcfe5d;
  color: #15442d;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.bottom-text {
  margin-top: 1.5rem;
  /* Increase margin for better spacing */
  font-size: 0.9rem;
  /* Slightly smaller text for the link */
  color: #c8d8c5;
}

.bottom-text a {
  color: #fcfe5d;
  text-decoration: none;
}

.bottom-text a:hover {
  text-decoration: underline;
}

.input-group {
  margin-bottom: 2rem;
  text-align: left;
  margin-left: 6px;
}

/* Input icon container */
.input-icon {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

/* Icon styling */
.input-icon i {
  position: absolute;
  left: 10px;
  /* Adjust icon position */
  color: #999;
  /* Light gray icon color */
  font-size: 1rem;
  /* Icon size */
  z-index: 1;
  /* Ensure the icon is above the input field */
}

.input-field {
  width: 95%;
  padding: 12px 12px 12px 40px;
  /* Add left padding for the icon */
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
  background-color: #f9f9f9;
  /* Light background for the input */
  color: #333;
  /* Dark text color */
  outline: none;
  /* Remove default outline */
  transition: border-color 0.3s ease;
  /* Smooth transition for focus */
  box-sizing: border-box;
  /* Ensure padding is included in the width */
}

.input-field::placeholder {
  color: #b2b9b1
}

.input-field:focus {
  border-color: #4CAF50;
  /* Green border on focus */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  /* Subtle shadow on focus */
}


/* Container for entire dashboard */
.dashboard-container {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(35px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 40px;
  overflow: hidden;
  margin: 40px auto 0;
  max-width: 95%;
}

/* Header section */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.dashboard-title {
  color: #0f3f26;
  margin: 0;
}

/* "Start New Process" button */
.new-process-button {
  padding: 10px 15px;
  background-color: #0b6623;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* Search container & elements */
.search-container {
  display: flex;
  overflow: hidden;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.underline {
  transition: all 0.3s;
  display: inline-block;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}



.search-input {
  padding: 8px;
  flex-grow: 1;
  background: transparent;
  /* Make it transparent */
  border: none;
  /* Remove default border */
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  /* Subtle underline */
  color: white;
  /* White text */
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.search-input:hover {
  border-bottom: 2px solid white;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.search-input:focus {
  border-bottom: 2px solid #fcfe5d;
  /* Yellow glow on focus */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.search-button {
  padding: 8px 12px;
  background-color: #fcfe5d;
  color: #30480d;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  /* Ensure text is readable */
  transition: background-color 0.3s ease;

}

/* Table container & table styling */
.table-container {
  overflow-x: auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
}

/* side bar */
/* Sidebar.css */

.sidebar {
  width: 200px;
  min-height: 100vh;
  background: radial-gradient(circle at center, #113e27, #1b4e31, #113e27);
  padding: 10px;
}

.step {
  padding: 14px 10px;
  cursor: pointer;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.step:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease-in-out;
  border-radius: 20px;
}

/* Remove the bottom border for the last step */
.step:last-child {
  border-bottom: none;
}

/* Active step styling */
.activeStep {
  background-color: #31482a;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  border-left: 6px solid #d66123;
  /* Orange indicator */
}

/* Step number styling */
.stepNumber {
  font-size: 13px;
  font: "Fira Sans", sans-serif;
  font-style: italic;
  color: white;
}

/* Step title styling */
.stepTitle {
  font-size: 16px;
  font-weight: bold;
  font: "Fira Sans", sans-serif;
  color: white;
}